* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: "Roboto Mono", monospace;
    width: 375px;
  }
  
  .tela {
    width: 375px;
    display: flex;
    height: 667px;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
    gap: 0px;
    opacity: 0px;
    background: #f3f3f3;
    margin-left: 0;
    position: relative;
  }
  .cabeçalho {
    width: 375px;
    height: 80px;
    gap: 0px;
    opacity: 0px;
    background: #ffffff;
    box-shadow: 0px 4px 6px 0px #0000000d;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cabeçalho > ion-icon {
    width: 45px;
    height: 45px;
    top: 18px;
    left: 309px;
    padding: 7.03px 1.41px 7.03px 1.41px;
    gap: 0px;
    opacity: 0px;
    margin-right: 10px;
  }
  .rodapé {
    width: 375px;
    height: 80px;
    justify-content: space-between;
    gap: 0px;
    opacity: 0px;
    background: #ffffff;
    box-shadow: 0px -4px 6px 0px #0000000d;
    position: fixed;
    bottom: 0;
    display: flex;
    z-index: 2;
    left: 0;
    align-items: center;
  }
  button > ion-icon {
    width: 26px;
    height: 26px;
    top: 614px;
    left: 331px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border: none;
    margin-right: 10px;
  }
  input {
    width: 299px;
    height: 32px;
    top: 602px;
    left: 17px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: none;
    font-family: Roboto;
    margin-left: 7px;
  }
  input::placeholder {
    font-family: Roboto;
font-size: 18px;
font-style: italic;
font-weight: 400;
line-height: 25px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
width: 299px;
height: 64px;
top: 602px;
left: 17px;
gap: 0px;
opacity: 0px;
color: black;
  }
  .caixademensagem {
    width: 299px;
    height: 64px;
  }
  .caixademensagem > h1 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: -28px;
    margin-left: 10px;
  }
  
  
  img {
    width: 75px;
    height: 53px;
    top: 16px;
    margin-left: 10px;
    gap: 0px;
    opacity: 0px;
  }
  button {
    border: none;
    background: #ffffff;
  }
  
  .escondido{
    display: none;
  }
  .usuarios {
    position: fixed;
    top: 0;
    right: 0;
    width: 259px;
    height: 667px;
    /* gap: 0px; // Essa propriedade não se aplica aqui */
    opacity: 1; /* Torna o elemento visível */
    background: #FFFFFF;
    z-index: 4;
    /* justify-content: right; // Essa propriedade não se aplica a elementos com position: fixed */
  position: absolute;
  }
.texto1{
width: 259px;
margin-bottom: 0px;
left: 116px;
gap: 0px;
opacity: 0px;
text-align: center;
}
.texto1 >h2{
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 18.75px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #000000;
}
li {
  list-style-type: none;
  display: flex;
  
}

.mensagens {
  width: 375px;
height: 500px;
overflow-y: scroll;
margin-left: 0;
justify-content: flex-start;
gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 18.75px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #000000;
margin-bottom:80px ;
justify-content: left;

align-items: center;
margin-left: 0px;
position: relative;
z-index: 1;
margin-left: 0;
top: 40px;
}
.enviadaspublicas{
  width: 375px;
height: 40px;
top: 150px;
gap: 0px;
border-radius: 2px;
opacity: 0px;
background: #FFFFFF;
justify-content: left;
align-items: center;
display: flex;
margin-top: 5px;
margin-bottom: 5px;
left: 0px;
}
p{
  text-align: left;
  padding: 5px;
  align-items: center;
  
  font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 16.41px;

text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.enviadasprivadas{
  width: 375px;
height: 40px;
top: 238px;
gap: 0px;
border-radius: 2px;
opacity: 0px;
background: #FFDEDE;
justify-content: left;
align-items: center;
display: flex;
margin-top: 5px;
margin-bottom: 5px;
}
.entrarOusair{
  width: 375px;
height: 40px;
top: 305px;
gap: 0px;
border-radius: 2px;
opacity: 0px;
background: #DCDCDC;
justify-content: left;
align-items: center;
display: flex;
margin-top: 5px;
margin-bottom: 5px;
}

.quemenviar{
display: flex;
flex-direction: column;
cursor: pointer;
gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 18.75px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #000000;
margin-left: 10px;
} 
.escolhertodos{
  display: flex;
  gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 18.75px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #000000;
margin-left: 10px;
margin-top: 0px;
}

.quemenviar > p {
  font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 18.75px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-left: 5px;

}
.paraquemenviar{
  margin-top: -60px;
  margin-left: 20px;
}
.b{

width: 25px;
height: 15px;
color:#28BB25;
right: 10px;
}
.selecionador{
display: none;
}
.formadeenvio1{
  width: 100%;
}
.formadeenvio{
  margin-top: 0px;
  margin-left: 8px;
}

.a {
  font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 18.75px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-right: 20px;

}
.escuro{
  width: 375px;
height: 667px;
top: -1px;
gap: 0px;
opacity: 0px;
background: #00000099;
position: fixed;
z-index: 3;
}

.final{
  font-family: Roboto;
font-size: 14px;
font-weight: 300;
line-height: 25px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-left: 10px;
color:  #DCDCDC;
}


@media (width: 344px) {
  
  .mensagens{
    width: 100%;
  height: 74.96%;

}
  body{
      width: 100%;
    
  }
  .cabeçalho{
    width: 100%;
    height: 11.99%;
    }
 .rodapé{
  width: 100%;
  height: 11.99%;
 }
 .caixademensagem {
  width: 79,73%;
  height: 9,6%;
}
.entrarOusair{
  width: 100%;
  height: 6%;
}
.enviadaspublicas{
  width: 100%;
  height: 6%;}
.enviadasprivadas{
  width: 100%;
  height: 6%;
}
.tela{
  width: 100%;
  height: 882px;
}
.escuro{
  width: 100%;
  height: 100%;
}
.usuarios{
  width: 69,06%;
    height: 100%;
}

}
@media (width: 360px) {
  
  .mensagens{
    width: 100%;
  height: 74.96%;

}
  body{
      width: 100%;
    
  }
  .cabeçalho{
    width: 100%;
    height: 11.99%;
    }
 .rodapé{
  width: 100%;
  height: 11.99%;
 }
 .caixademensagem {
  width: 79,73%;
  height: 9,6%;
}
.entrarOusair{
  width: 100%;
  height: 6%;
}
.enviadaspublicas{
  width: 100%;
  height: 6%;}
.enviadasprivadas{
  width: 100%;
  height: 6%;
}
.tela{
  width: 100%;
  height: 740px;
}
.escuro{
  width: 100%;
  height: 100%;
}
.usuarios{
  width: 69,06%;
    height: 100%;
}

}
@media (min-width: 380px) {
  
  .mensagens{
    width: 100%;
  height: 74.96%;

}
  body{
      width: 100%;
    
  }
  .cabeçalho{
    width: 100%;
    height: 11.99%;
    }
 .rodapé{
  width: 100%;
  height: 11.99%;
 }
 .caixademensagem {
  width: 79,73%;
  height: 9,6%;
}
.entrarOusair{
  width: 100%;
  height: 6%;
}
.enviadaspublicas{
  width: 100%;
  height: 6%;}
.enviadasprivadas{
  width: 100%;
  height: 6%;
}
.tela{
  width: 100%;
  height: 844px;
}
.escuro{
  width: 100%;
  height: 100%;
}
.usuarios{
  width: 69,06%;
    height: 100%;
}

}
@media (min-width: 413px) {
  
  .mensagens{
    width: 100%;
  height: 74.96%;

}
  body{
      width: 100%;
    
  }
  .cabeçalho{
    width: 100%;
    height: 11.99%;
    }
 .rodapé{
  width: 100%;
  height: 11.99%;
 }
 .caixademensagem {
  width: 79,73%;
  height: 9,6%;
}
.entrarOusair{
  width: 100%;
  height: 6%;
}
.enviadaspublicas{
  width: 100%;
  height: 6%;}
.enviadasprivadas{
  width: 100%;
  height: 6%;
}
.tela{
  width: 100%;
  height: 896px;
}
.escuro{
  width: 100%;
  height: 100%;
}
.usuarios{
  width: 69,06%;
    height: 100%;
}

}
@media (min-width: 412px) {
  
  .mensagens{
    width: 100%;
  height: 74.96%;

}
  body{
      width: 100%;
    
  }
  .cabeçalho{
    width: 100%;
    height: 11.99%;
    }
 .rodapé{
  width: 100%;
  height: 11.99%;
 }
 .caixademensagem {
  width: 79,73%;
  height: 9,6%;
}
.entrarOusair{
  width: 100%;
  height: 6%;
}
.enviadaspublicas{
  width: 100%;
  height: 6%;}
.enviadasprivadas{
  width: 100%;
  height: 6%;
}
.tela{
  width: 100%;
  height: 915px;
}
.escuro{
  width: 100%;
  height: 100%;
}
.usuarios{
  width: 69,06%;
    height: 100%;
}

}
@media (min-width: 429px) {
  .mensagens{
    width: 100%;
  height: 74.96%;

}
  body{
      width: 100%;
    
  }
  .cabeçalho{
    width: 100%;
    height: 11.99%;
    }
 .rodapé{
  width: 100%;
  height: 11.99%;
 }
 .caixademensagem {
  width: 79,73%;
  height: 9,6%;
}
.entrarOusair{
  width: 100%;
  height: 6%;
}
.enviadaspublicas{
  width: 100%;
  height: 6%;}
.enviadasprivadas{
  width: 100%;
  height: 6%;
}
.tela{
  width: 100%;
  height: 932px;
}
.escuro{
  width: 100%;
  height: 100%;
}
.usuarios{
  width: 69,06%;
    height: 100%;
} 
 

}
